@use '../components/variables'
@use '../components/mixins'


#sidebar 
    background-color: variables.$bg-color
    flex: 1 1 0
    border-radius: variables.$conatainer-border-radius
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    position: relative
    padding: 3rem 
    color: variables.$text-color
    box-shadow: #03f8ec  -8px 8px 19px

    img
        max-width: 70%
        border-radius: 25px
        top: -3rem
        position: absolute

    .title
        color: variables.$text-color-secondary
        border-radius: variables.$card-border-radius
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 5rem
        padding:  .7rem 1.2rem

    .btn
        @include mixins.btn
        font-size: 12px
        


